@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Plus Jakarta Sans';
    height: 100vh;
}
#__nuxt{
    height: 100%;
}

:root {
    --white: #FFFFFF;
    --primary-light: #D6E2FB;
    --primary-medium: #F3F6FB;
    --primary-dark: #D1E2FF;
    --light-gray: #F9FAFC;
    --dark-gray: #4B5563;
    --border-color: #E6E7EB;
    --dark: #121829;
    --overlay: #4C5764;
}
